
@import codi.core.TypeHandle
@import views.html.components.property_rule_view
@import views.html.components.extension_rule_view
@import views.html.components.association_rule_view

@*
The TypeHandle MUST BE UNFOLDED!
*@
@import views.html.forms.delete_rule_form
@import views.html.forms.new_extension_rule_form
@import views.html.forms.new_link_rule_form
@import views.html.forms.new_attribute_rule_form
@(typeHandle: TypeHandle)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@app{
    <div>

        <div class="flex-container bg-block-1 m-t-mini p-ltrb-mini">
            <div class="col-2"><b>name</b></div><div class="weight-2">@{typeHandle.getTypeIdentity.takeRight(5)+":"+typeHandle.getTypeName}</div>
        </div>

        <div class="flex-container bg-block-1 m-t-mini p-ltrb-mini">
            <div class="col-2"><b>template</b></div><div class="weight-2">@typeHandle.getIsTemplate</div>
        </div>

        <div class="bg-block-1 m-t-mini p-ltrb-mini">
            @if(typeHandle.iterator.get.get.getExtensionRules.isEmpty){
                <div class="col-2"><b>childOf</b></div><div class="weight-2">[ ] ROOT ENTITY</div>
            }else{
                <b>childOf</b>
                <div class="m-l-medium m-t-mini">
                @for(extensionRule <- typeHandle.iterator.get.get.getExtensionRules){
                    <div class="m-t-medium"></div>
                    @extension_rule_view(extensionRule)
                    @delete_rule_form(typeHandle.getTypeName, typeHandle.getTypeIdentity, extensionRule.id)
                }
                </div>
            }
        </div>

        <div class="bg-block-1 m-t-mini p-ltrb-mini">
            @if(typeHandle.iterator.get.get.getAttributeRules.isEmpty){
                <div class="col-2"><b>attributes</b></div><div class="weight-2">[ ]</div>
            }else {
                <b>attributes</b>
                <div class="m-l-medium m-t-mini">
                @for(propertyRule <- typeHandle.iterator.get.get.getAttributeRules) {
                    <div class="m-t-medium"></div>
                    @property_rule_view(propertyRule)
                    @delete_rule_form(typeHandle.getTypeName, typeHandle.getTypeIdentity, propertyRule.id)
                }
                </div>
            }
        </div>
        <div class="bg-block-1 m-t-small p-ltrb-mini">
        @if(typeHandle.iterator.get.get.getAssociationRules.isEmpty){
            <div class="col-2"><b>links</b></div><div class="weight-2">[ ]</div>
        }else{
            <b>links</b>
            <div class="m-l-medium m-t-mini">
            @for(associationRule <- typeHandle.iterator.get.get.getAssociationRules) {
                <div class="m-t-mini"></div>
                @association_rule_view(associationRule)
                @delete_rule_form(typeHandle.getTypeName, typeHandle.getTypeIdentity, associationRule.id)
            }
            </div>
        }
        </div>
    </div>

    <div class="full-width card shadowed m-b-small m-t-medium">
        <div class="p-t-small p-b-small p-r-medium p-l-medium">
            <div class="headline-text m-b-small"><b>New CHILD OF Rule</b></div>
            @new_extension_rule_form(typeHandle.getTypeName, typeHandle.getTypeIdentity)
        </div>
    </div>

    <div class="full-width card shadowed m-b-small m-t-medium">
        <div class="p-t-small p-b-small p-r-medium p-l-medium">
            <div class="headline-text m-b-small"><b>New LINK Rule</b></div>
            @new_link_rule_form(typeHandle.getTypeName, typeHandle.getTypeIdentity)
        </div>
    </div>

    <div class="full-width card shadowed m-b-small m-t-medium">
        <div class="p-t-small p-b-small p-r-medium p-l-medium">
            <div class="headline-text m-b-small"><b>New ATTRIBUTE Rule</b></div>
            @new_attribute_rule_form(typeHandle.getTypeName, typeHandle.getTypeIdentity)
        </div>
    </div>

}("Definition : "+typeHandle.getTypeName)