@import views.html.helper.CSRF
@import codi.core.DeepInstance
@(fragmentName: String, identity: String)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@helper.form(action = routes.ModelController.addExtensionRule(fragmentName, identity)) {
    @CSRF.formField
    <div class="flex-container vertical">
        <div class="flex-container horizontal">
            <label class="col-2">Parent</label>
            <input class="col-8" type="text" name="parent" value=""/>
        </div>
    </div>
    <button class="btn btn-solid-prim btn-small btn-shadowed m-t-small">Add</button>

}